$colors: (
  "highlight": #e92569,
  "black": #0a0a0a,
  "grey": #767676,
  "lightgrey": #c7c7c7,
  "white": #ffff,
  "dark-white": #efefef,
);

$font-size: (
  "smal": 10pt,
  "regular": 12pt,
  "big": 16pt,
  "large": 20pt,
);

$bg-gradient: radial-gradient(closest-side, #ffffff 55%, #e5e5e5);

@mixin link-style__pseuodo-class {
  &:hover{
    color: map-get($colors, "lightgrey");
  }
  &:focus {
    border: 2px solid map-get($colors, "lightgrey");
    border-radius: 5px;
  }
};

$breakpoint-lg: 992px;
$breakpoint-md: 700px;
