html, 
body {
  display: flex;
  flex-direction: column;
}

#root{
  height: 100%;
}



body {
  background: $bg-gradient;
  background-repeat: no-repeat;
}

.wrapper {
  flex: 1 0 auto;
}

.page{
  margin-top: 3.5rem;
}