html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: $bg-gradient;
  background-repeat: no-repeat;
}
.wrapper {
  flex: 1 0 auto;
}

.page {
  margin-top: 3.5rem;
  padding: 0 1.5rem;

  @media (min-width: $breakpoint-lg) {
    padding: 0 4rem;
  }

  &--contact {
    @media (min-width: $breakpoint-lg) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
    } 
  }
}
