body{
    font-family: 'Lato', sans-serif;

}

h1{
    font-family: 'Playfair Display', serif;
    color: map-get($colors, "highlight" );
    margin: 1rem 0;
}

.page__heading--news{
    padding: 1rem 0;
}

p{
    color: map-get($colors, "grey" );
}

button {
    font-family: 'Lato', sans-serif;

}